**
!gradlew
!settings.gradle.kts
!build.gradle.kts
!gradle/
!gradle/**
!src/
!src/**
!integration/
!integration/Dockerfile
!integration/run-integration.sh
!integration/changelog.yaml
!integration/liquibase.properties
!integration/run-capabilities.sh
!integration/changelogs/
!integration/changelogs/**
